body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand span {
    font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e5989b;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #e5989b;
}

.btn-login {
    background-color: inherit;
    color: #6d6875;
    border-color: #6d6875;
}

.btn-login:hover {
    background-color: #b5838d;
    border-color: #b5838d;
}

.summary {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer .social-link {
    color: #e5989b;
    border-color: #b5838d;
}

footer .social-link:hover,
footer .social-link:focus {
    background: #6d6875;
    color: #ffb4a2;
}

footer .list-unstyled a {
    color: #6d6875;
    text-decoration: none;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}