table {
    width: 100%;
    border-collapse: collapse;
}

.product-listings {
    margin-top: 30px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.product-column {
    text-align: center;
    padding: 15px;
    flex: 1 1 22%;
    box-sizing: border-box;
    margin: 10px;
}

.product-column:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.product h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 500;
}

.product p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #e5989b !important;
    border: whitesmoke;
    color: #fff;
    outline: none !important;
    border-radius: 0%;
    font-size: 14px;
    display: block;
    margin: 10px auto 0;
}

button:hover {
    background-color: #6d6875;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header,
footer {
    background-color: #f2f2f2;
}

footer .social-link {
    color: #e5989b;
    border-color: #b5838d;
}

footer .social-link:hover,
.social-link:focus {
    background: #6d6875;
    color: #ffb4a2;
}

footer .list-unstyled a {
    color: #6d6875;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .product-column {
        width: 50%;
    }

    table {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .product-column {
        width: 100%;
        display: block;
    }

    table {
        font-size: 12px;
    }
}

footer {
    padding: 20px 0;
    background-color: #333;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin: 0 15px;
}

.navbar-brand span {
    font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: overline;
}

.nav-link.active {
    color: #b5838d !important;
    font-weight: bold;
}