<footer>
    <div class="container py-4 pt-5">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6">About</h3>
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="#about">Terms & Conditions</a></li>
                    <li><a class="link-secondary" href="#about">Contact us</a></li>
                </ul>
                <h3 class="fs-6 mt-3">Follow Us</h3>
                <ul class="social mb-0 list-inline">
                    <li class="list-inline-item"><a class="social-link"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6">Customer Service</h3>
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="#">Return Policy</a></li>
                    <li><a class="link-secondary" href="#">Privacy Policy</a></li>
                    <li><a class="link-secondary" href="#">Shipping Information</a></li>
                    <li><a class="link-secondary" href="#">FAQs</a></li>
                </ul>
            </div>
            <div
                class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                <div class="fw-bold d-flex align-items-center mb-2"><img src="images/purse.png" height="25px"
                        style="padding-right: 10px;"></span><span>Fleecebag</span></div>
                <p class="text-muted copyright">Think Once, Think Twice, Think Bags</p>
                <h3 class="fs-6 mt-4 mb-2 text-uppercase">Payment Options</h3>
                <span>
                    <img class="me-2" width="45px" src="images/extra/upi.png" alt="UPI" />
                    <img class="me-2" width="45px" src="images/extra/visa.png" alt="Visa" />
                    <img class="me-2" width="45px" src="images/extra/mastercard.png" alt="Mastercard" />
                    <img class="me-2" width="45px" src="images/extra/rupay.png" alt="Rupay" />
                    <img class="me-2" width="45px" src="images/extra/cod.png" alt="Cash on Delivery" />
                </span>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-around align-items-center pt-3">
            <p class="text-muted text-uppercase mb-0">Copyright © 2023 All Rights Reserved</p>
        </div>
    </div>
</footer>
