<header>
    <nav class="navbar navbar-light navbar-expand-lg py-3">
        <div class="container">
            <a href="#"><img src="/images/purse.png" height="25px" style="padding-right: 10px;"></a>
            <a class="navbar-brand d-flex align-items-center" href="/index.html"><span
                    id="navbar-brand-text">Fleecebag</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-3"
                aria-controls="navcol-3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navcol-3" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link pe-1" href="#">Men</a></li>
                    <li class="nav-item"><a class="nav-link pe-1" href="#">Women</a></li>
                    <li class="nav-item"><a class="nav-link pe-1" href="/other.html">Other</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Offers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                </ul>

                <div id="google_translate_element"></div>
            </div>

            <span>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item nav-link"><a href="/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                    <li class="nav-item nav-link" id="tick">|</li>
                    <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
                </ul>
            </span>
            <div class="darkMode">
                <button id="dark-mode-toggle">Dark mode</button>
            </div>
        </div>
    </nav>
</header>
